.skills {
    min-height: 1025px;
    padding-top: 120px;
    &__wrapper {
        padding: 60px 10px 0 10px;
        display: grid;
        grid-template-columns: repeat(4, minmax(270px, auto));
        grid-template-rows: repeat(2, minmax(270px, auto));
        grid-auto-rows: minmax(270px, auto);
        gap: 13px;
    }
    &__item {
        border: 1px solid #000;
        border-radius: 10px;
        padding: 30px 30px 25px 30px;
        &-icon {
            min-height: 65px;
        }
        img {
            max-height: 65px;
        }
        &-title {
            margin-top: 20px;
            font-size: 14px;
            line-height: 21px;
            color: #000000;
        }
        &-descr {
            margin-top: 15px;
            font-size: 12px;
            line-height: 18px;
            color: #000000;
        }
    }

    &__scales {
        padding-top: 120px;
        display: grid;
        grid-template-columns: repeat(3, 350px);
        grid-template-rows: repeat(2, 70px);
        column-gap: 45px;
        row-gap: 30px;
        &__item {
            display: grid;
            grid-template-rows: 56px 14px;
            &-skill {
                position: relative;
                padding: 8px 0 0 13px;
                display: flex;
                justify-content: space-between;
                @include before-circle;
                &:before {
                    top: 04px;
                    left: 0;
                }
            }
            &-title {
                margin: 0;
                font-style: normal;
                font-size: 14px;
                line-height: 21px;
                color: #000000;
            }
            &-percent {
                font-style: normal;
                font-size: 14px;
                line-height: 21px;
                color: #000000;
            }
            &-scgray {
                width: 100%;
                height: 100%;
                background: #E8E4DE;
                border-radius: 4px;
                span {
                    display: block;
                    height: 100%;
                    max-width: 100%;
                    background: $main;
                    border-radius: 4px;
                }
            }
        }
    }
}